<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tres en raya</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script defer src="/js/main.js"></script>
  </head>
  <body>
    <div class="turn-container">
      <div class="title-container">
        <h1 class="turn-title">Tres En Raya</h1>
        <h2 class="turn-title">
          Turno de:
          <img
            id="turn-selector"
            src="./imgs/x-img.png"
            alt="turn-img"
          />
        </h2>
      </div>
    </div>

    <main>
      <section>
        <div class="slot-container">
          <div class="slot" id="0">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
          <div class="slot" id="1">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
          <div class="slot" id="2">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
        </div>
        <div class="slot-container">
          <div class="slot" id="3">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
          <div class="slot" id="4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
          <div class="slot" id="5">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
        </div>
        <div class="slot-container">
          <div class="slot" id="6">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
          <div class="slot" id="7">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
          <div class="slot" id="8">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
              alt="icon"
            />
          </div>
        </div>
      </section>
    </main>

    <div class="button-container">
      <button id="reset">Reset game</button>
    </div>
  </body>
</html>
